/Class1.class
/Comparable.class
/ResearcherArticleLengthComparator.class
/ResearcherCitationsComparator.class
/ResearcherComparator.class
/ResearcherPublishDateComparator.class
/StudentAlphabetComparator.class
/StudentGpaComparator.class
/TeacherAlphabetComparator.class
/TeacherRatingComparator.class
/ComparableStudent.class
/ComparableResearcher.class
/StudentsComprator.class
/TeachersComparator.class
/StudentsComparator.class
