/CitationFormat.class
/CourseType.class
/Degree.class
/Gender.class
/Language.class
/LessonType.class
/Managers.class
/School.class
/Semester.class
/TeacherType.class
/UrgencyLevel.class
/UserType.class
/newsType.class
/Grade.class
/NwsType.class
/NewsType.class
