/Course.class
/CourseRegistrationService.class
/CourseRepository.class
/CourseType.class
/Enrollment.class
/GPA.class
/GradeReport.class
/Lesson.class
/Mark.class
/RegistrationRequest.class
/Subject.class
/TImeWindow.class
/Transcript.class
/TimeWindow.class
