/AbstractResearcherDeco.class
/Class1.class
/Class2.class
/Class3.class
/Comparable.class
/Comparator.class
/CourseRepository.class
/Enumeration1.class
/Grade.class
/Interface1.class
/Interface2.class
/Interface3.class
/News.class
/NewsPriorityComparator.class
/NotAResearcherException.class
/Organizations.class
/Researcher.class
/ResearcherException.class
/SystemMenu.class
/Teacher.class
/User.class
testRega.java